/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Main Page */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 12px;
}

*[collapsed="true"] {
    visibility: collapse;
}

/*************************************************************************************************/
/* Tab View */

.mainViewBar > .tab {
    font-family: Lucida Grande,Tahoma,sans-serif;
    font-size: 17px;
}

/*************************************************************************************************/
/* Home Tab*/

.tabHomeBody .homeTable {
    margin: 0px;
    width: 100%;
    max-width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

.tabHomeBody .progressLabel {
    margin: 0 15px 0 15px;
}

.tabHomeBody .saveButton {
    padding: 8px;
    background-image: url(images/save.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    cursor: pointer;
}

/* Toolbar */
.tabHomeBody .toolbar TD {
    border-bottom: 1px solid lightgray;
    height: 33px;
    vertical-align: middle;
}

/* The search box is aligned to right */
.tabHomeBody .toolbar TD:last-child {
    text-align: right;
}

/*************************************************************************************************/
/* Documents Tab */

.tabDocumentsBody {
    padding: 5px;
}

/*************************************************************************************************/
/* Roots Tab */

.tabRootsBody {
    padding: 5px;
}
