/* See license.txt for terms of usage */

/*************************************************************************************************/
/* Main Page */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: Lucida Grande, Tahoma, sans-serif;
    font-size: 12px;
}

*[collapsed="true"] {
    visibility: collapse;
}

/*************************************************************************************************/
/* Tab View */

.mainViewBar > .tab {
    font-family: Lucida Grande,Tahoma,sans-serif;
    font-size: 17px;
}

.tabBody .tabContent {
    padding: 5px;
}

/*************************************************************************************************/
/* Home Tab*/

.tabHomeBody .toolbarButton {
    margin: 6px 5px 2px 5px;
}

.tabHomeBody .searchBox {
    float: right;
}

.tabHomeBody .toolbar {
    clear: both;
    padding-bottom: 3px;
}

.tabHomeBody .saveButton {
    width: 16px;
    height: 16px;
    background-image: url(images/save.png)
}

.tabHomeBody .progressLabel {
    white-space: nowrap;
    color: gray;
    cursor: text;
}

.tabHomeBody .save {
    padding: 8px;
    background-image: url(images/save.png);
    background-repeat: no-repeat;
    background-position: 0 7px;
    cursor: pointer;
}

/*************************************************************************************************/
/* Documents Tab */

.tabDocumentsBody {
    padding: 5px;
}

/*************************************************************************************************/
/* Roots Tab */

.tabRootsBody {
    padding: 5px;
}

/*************************************************************************************************/
/* Graph Tab */

.tabGraphBody .toolbar {
    text-align: right;
}

/*************************************************************************************************/
/* Detail Tab */

.tabDetailsBody {
    padding: 5px;
}

/*************************************************************************************************/
/* About Tab */

.AboutTab {
    margin-right: 50px;
    position: absolute;
    right: 0;
    top: 3px;
}

.tabAboutBody {
    margin: 15px;
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.tabAboutBody a {
    text-decoration: none;
}

.tabAboutBody a:hover {
    text-decoration: underline;
}

.tabAboutBody h1 {
    font-size: 17px;
    border-bottom: 1px solid threedlightshadow;
}

.tabAboutBody h2 {
    color:  #DD467B;
    font-size: 22.8px;
    font-weight:lighter;
}

.tabAboutBody h3 {
    color: #DD467B;
    font-weight: bold;
    margin: 5px 0;
}

.tabAboutBody code {
    background-color: #F9F9F9;
}
