/* See license.txt for terms of usage */

.toolbar {
    font-family: Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-style: normal;
    border-bottom: 1px solid #EEEEEE;
    padding: 0 3px 0 3px;
}

.toolbarButton,
.toolbarSeparator {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    color: #000000;
    -moz-user-select: none;
    -moz-box-sizing: padding-box;
}

.toolbarButton.image {
    padding: 0;
    height: 16px;
    width: 16px;
}

.toolbarButton.text,
.toolbarSeparator {
    margin: 3px 0 3px 0;
    padding: 4px;
    border: 1px solid transparent;
}

.toolbarButton.text {
    background-color: #EEEEEE;
    border: 1px solid lightgray;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
}

.toolbarButton.text:hover {
    background-color: rgb(244, 244, 244);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.toolbarButton.text:active {
    background-position: 0 -400px;
}

.toolbarButton[disabled] {
    background-color: #EEEEEE;
    color: gray;
    cursor: default;
}

.toolbarButton[disabled].text:hover {
    background-color: #EEEEEE;
    box-shadow: none;
}

/*************************************************************************************************/
/* Drop Down */

.toolbarButton.dropDown .arrow {
    width: 11px;
    height: 10px;
    background: url(images/contextMenuTarget.png) no-repeat;
    display: inline-block;
    position: relative;
    right: 0;
    top: 1px;
}

.toolbarButton.dropDown {
    padding: 0;
}

.toolbarButton.dropDown .labelBox,
.toolbarButton.dropDown .dropMarker {
    padding: 4px;
    display: inline-block;
}

.toolbarButton.dropDown .dropMarker.menuButton {
    border-left: 1px solid lightgray;
}

.toolbarButton.dropDown .dropMarker.menuButton:hover {
    background-color: rgb(250, 250, 250);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.toolbarButton[disabled].dropDown .dropMarker.menuButton:hover {
    box-shadow: none;
    cursor: default;
}

.toolbarButton[disabled].dropDown .arrow {
    background: url(images/contextMenuTargetDisabled.png) no-repeat;
    cursor: default;
}
